{% extends "cambos/base_frota.html" %}

{% block css %}

{% endblock css %}

{% block navigation %}
    <div class="row">
        <ol class="breadcrumb">
			<li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'veiculo_list' %}">Veículos</a></li>
			<li class="active"><a href="{% url 'veiculo_index' veiculo.pk %}">Menu</a></li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{veiculo}}<span class="text-muted small"> Abastecimento</span></h1></h1>
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}		

	<div class="col-12">
		
		<div class="panel panel-default">
			
			<div class="panel-body">
				<div id="toolbar">
					
						
					<a href="{% url 'abastecimento_create' veiculo.id %}" class="btn_filtrar" data-toggle="modal">
						<i class="fa fa-plus"></i> Novo
						</a>
						
					
				  </div>
				<table id="table"				
					data-toolbar="#toolbar"
					data-toggle="table"
					data-show-refresh="false"
					data-show-toggle="false"
					data-show-columns="true"
					data-search="true"
					data-select-item-name="toolbar"
					data-pagination="true"				 
					data-sort-order="desc"
				 >
					<thead>
						<tr>
							<th data-field="Data"  data-formatter="dateFormat" data-sortable="true" class='text-center'>Data</th>														
							<th data-field="Veiculo"  data-sortable="true" class='text-center'>Veículo</th>		
							<th data-field="Combustivel"  data-sortable="true" class='text-center'>Combustível</th>	
							<th data-field="Valor"  data-sortable="true" class='text-center'>Valor Abas.</th>				
							<th data-field="Destino" data-sortable="true" class='text-center'>Quantidade(l)</th>
							<th data-field="Tipo" data-sortable="true" class='text-center'>Tipo</th>
							<th data-field="Responsavel" data-sortable="true" class='text-center'>Responsável</th>																					
						</tr>
					</thead>
					<tbody>
						{% for data in lista %}
							
							<tr data-href="{% url 'abastecimento_update' data.pk %}"
							 class="trLink" >							
								<td class='text-center' >									
									{{data.data|safe}}									
								</td>								
								<td class='text-center' >									
									{{data.veiculo}}									
								</td>		
								<td class='text-center' >									
									{{data.combustivel}}									
								</td>	
								<td class='text-center'>
									{{data.valor_unitario}}
								</td>					
								<td class='text-center'>
									{{data.quantidade}}
								</td>	
								<td class='text-center'>
									{% if data.interno %}
										INTERNO
									{% elif not data.interno %}
										EXTERNO
									{% endif %}
								</td>	
								<td class='text-center'>
									{{data.responsavel}}
								</td>																														
						{%endfor%}
					</tbody>					
				</table>								
			</div>
		</div>
	</div>	
	
{%endblock content%}

{% block script %}

<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
  </script>
  <script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});

</script>
	
{% endblock script %}