{% extends "cambos/base_frota.html" %}
{% load static %}
{% block css %}{% endblock css %}

{% block navigation %}
    <div class="row">		
        <ol class="breadcrumb ">
            <li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">menu</li>
        </ol>	
    </div><!--/.row-->
	
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Logística<span class="text-muted small"> Menu </span></h1>
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}
<div class="panel panel-container">
	<div class="row">
		{% if permissoes.ver_veiculo%}
		<a href="{% url 'veiculo_list' %}">												
			<div class="col-xs-6 no-padding">					
				<div class="panel panel-teal panel-widget border-right border-bottom">
					<div class="row no-padding"><span class="color-blue"> <em class="fa fa-truck fa-2x"></em></span>
						<h2>Veículos</h2>						
					</div>
				</div>
			</div>
		</a>
		{% endif%}	
		{% if permissoes.ver_abastecimento%}							
		<a href="{% url 'abastecimento_listall' %}">				
			<div class="col-xs-6 no-padding">
				<div class="panel panel-orange panel-widget border-right border-bottom">
					<div class="row no-padding"><span class="color-orange"><em class="fa fa-dashboard fa-2x"></em></span>
						<h2>Abastecimento</h2>
						
					</div>
				</div>
			</div>
		</a>
		{%endif%}
		{% if permissoes.ver_viagemlist %}
		<a href="">				
			<div class="col-xs-6 no-padding">
				<div class="panel panel-red panel-widget border-right border-bottom">
					<div class="row no-padding"><span class="color-red"> <em class="fa fa-plane fa-2x"></em></span>
						<h2>Viagens</h2>
						
					</div>
				</div>
			</div>
		</a>			
		{%endif%}
		{% if permissoes.ver_manutencao%}
		<a href="{% url 'manutencao_list' %}">				
			<div class="col-xs-6 no-padding">
				<div class="panel panel-red panel-widget border-right border-bottom">
					<div class="row no-padding"><span class="color-red"> <em class="fa fa-wrench fa-2x"></em></span>
						<h2>Manutenção</h2>
						
					</div>
				</div>
			</div>
		</a>
		{%endif%}
		{% if permissoes.ver_despesa%}
		<a href="{% url 'despesas_frota' %}">				
			<div class="col-xs-6 no-padding">
				<div class="panel panel-red panel-widget border-right border-bottom">
					<div class="row "><span class="color-red"> <em class="fa fa-money fa-2x"></em></span>
						<h2>Despesas</h2>
						
					</div>
				</div>
			</div>
		</a>
		{%endif%}	
		{% if permissoes.ver_relatorio%}				
		<a href="{% url 'relatorio_index' %}">												
			<div class="col-xs-6 no-padding">					
				<div class="panel panel-teal panel-widget border-right border-bottom">
					<div class="row no-padding"><span class="color-blue"> <em class="fa fa-line-chart fa-2x"></em></span>
						<h2>Relatórios</h2>						
					</div>
				</div>
			</div>
		</a>	
		{%endif%}
	</div><!--/.row-->
</div>


{%endblock content%}

{% block script %}

{% endblock script %}

