{% extends "cambos/base_frota.html" %}
{% load static %}
{% block css %}
<style> @media print {
	/* esconder tudo */
	body * {
	  visibility: hidden;
	}
	/* exibir somente o que tem na div para imprimir */
	#imprimir, #imprimir * {
	  visibility: visible;
	  margin: 3mm 2mm 1.5mm -1.3mm;
	}
	#imprimir {
	  position: absolute;
	  left: 0;
	  top: 0;

	}
  }
</style>
{% endblock css %}

{% block navigation %}
<head>
	<link href="{% static 'css/pace-theme-minimal.css' %}" rel="stylesheet">
</head>
    <div class="row">		
        <ol class="breadcrumb ">
            <li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'relatorio_index' %}">
                Menu Anterior
            </a></li>
        </ol>	
    </div><!--/.row-->
	
	<div class="row">
       
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}
<div class="panel panel-container">
	<div class="col-12">												
			<div id="identificado" class="col-xs-4 no-padding">					
				<div class="panel panel-teal panel-widget border-right border-bottom" id="imprimir">
					<h3>Relatório de Viagens <em class="fa fa-truck"></em></h3>						
				</div>
			</div>						
		<a href="{% url 'relatorio_abastecimentocaminhao' %}">				
			<div id="identificado2" class="col-xs-4 no-padding">
				<div class="panel panel-orange panel-widget border-right border-bottom">
					<h3>Ir para Relatório de Abastecimento<i class="fas fa-gas-pump"></i></h3>
				</div>
			</div>
		</a>
		<a href="{% url 'relatorio_viagemsolicitacao' %}">				
			<div id="identificado2" class="col-xs-4 no-padding">
				<div class="panel panel-orange panel-widget border-right border-bottom">
					<h3>Ir para Relatório de Solicitações <i class="fas fa-list"></i></h3>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="col-12">
	<div class="panel panel-default">
		<button type="button" class="btn_filtrar" data-toggle="modal"
			data-target="#exampleModal">
			FILTRAR
		</button> <button class="btn_filtrar"><i onclick=window.print() class="fas fa-print"></i></button><br>
		<strong class="text-danger"><i class="fa fa-road"></i>Em trânsito</strong>
		<div class="panel-body" id="imprimir">
			<table id="table"				
			data-toolbar="#toolbar"
			data-show-toggle="false"
			data-show-columns="true"
			data-select-item-name="toolbar"
			data-pagination="true"				 
			>
				<thead>
					<tr>						
						<th data-field="Data Saída" data-formatter="dateFormat" data-sortable="true" class='text-center'>Data Saída</th>
						<th data-field="Veiculo"  data-sortable="true" class='text-center'>Veiculo</th>																					
						<th data-field="Destino"  data-sortable="true" class='text-center'>Destino</th>
						<th data-field="Motorista" data-sortable="true" class='text-center'>Motorista</th>
						<th data-field="Motorista2" data-sortable="true" class='text-center'>Motorista2</th>
						<th data-field="Ajudante" data-sortable="true" class='text-center'>Ajudante</th>
						<th data-field="Data Chegada"  data-formatter="dateFormat" data-sortable="true" class='text-center'>Data Chegada</th>
						<th data-field="km" data-sortable="true" class='text-center'>Km Rodado</th>
						<th data-field="tempo gasto" data-sortable="true" class='text-center'>Tempo gasto</th>
					</tr>
				</thead>
				<tbody>
					{%for item in filter.qs|dictsortreversed:"data_inicial"%}
						{%if item.veiculo.caminhao%}
							<tr data-href="#"	
							class="trLink" >
								<td class='text-center' >									
									{{item.data_inicial|safe}}									
								</td>
								<td class='text-center'>
									{%if item.data_final%}
											{%if item.veiculo.id == 2 %}
												MB2426 Verm.</td>	
											{%elif item.veiculo.id == 1 %}
												VW24280 Cin.
											{%elif item.veiculo.id == 7 %}
												MB1719 Verm.
											{%elif item.veiculo.id == 6 %}
												MB1719 Azul
											{%endif%}
										{% else %}
										<lu class="trLink text-danger negrito">
											{%if item.veiculo.id == 2 %}
												MB2426 Verm.</td>	
											{%elif item.veiculo.id == 1 %}
												VW24280 Cin.
											{%elif item.veiculo.id == 7 %}
												MB1719 Verm.
											{%elif item.veiculo.id == 6 %}
												MB1719 Azul
											{%endif%}
										</lu>
									{%endif%}	
								</td>						
								<td class='text-center'>{{item.destino|slice:"0:20"}}</td>
								<td class='text-center'>
									{% if item.motorista %}
										{{item.motorista.nome|slice:"0:12"}}.
									{% else %}
										-
									{%endif%}
								</td>
								<td class='text-center'>
									{% if item.motorista2 %}
										{{item.motorista2.nome|slice:"0:12"}}.
									{% else %}
										-
									{%endif%}
								</td>
								<td class='text-center' >
									{% if item.ajudante%}
										{{item.ajudante.nome|slice:"0:12"}}.
									{%else%}
										-
									{%endif%}																		
								</td>
								<td class='text-center' >	
									{% if item.data_final%}																				
										{{item.data_final|safe}}
									{%else%}
										-
									{%endif%}																		
								</td>
								<td class='text-center' >
									{%if item.kmfinalmenosinicial != none %}																					
										{{item.kmfinalmenosinicial}} km
									{%else%}
										-
									{%endif%}																		
								</td>
								<td class='text-center'>
									{%if item.diagasto%}
										{{ item.diagasto}} dias,
									{%endif%}
									<div class="with-js">
									{%if item.hora_final > item.hora_inicial%}
										{%if item.horagasto != none%}																			
											{{item.horagasto}}		
										{%endif%}	
									</div>		
									{%endif%}	
									{%if item.horagasto != none%}																			
										{{item.horagasto}}		
									{%endif%}												
								</td>
						{%endif%}
					{% endfor %}
				</tbody>
			</table>
			<h4><i class="fa fa-truck"></i> Total de Viagens Realizadas: <b>{{counter}}</b></h4>
			<h4><i class="fa fa-tachometer"></i> Total de KM Rodados: <b>{{somakm}}</b></h4>
			<h4><i class="fa fa-clock-o"></i> Total de Tempo Gasto: <b>{{horas|floatformat:0}}h : {{minutos|floatformat:0}}m</b></h4>			
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title titulo_filtrar" id="exampleModalLabel">Selecione os Filtros</h5>
		</div>
		<div class="modal-body">
			<form method="GET">
				{{filter.form.as_p}}
			<input class="btn_filtrar_modal" type="submit" value="FILTRAR">
			</form>
		</div>
		
		</div>
	</div>
</div>

{% endblock content%}

{% block script %}
<script>
	const elements = document.querySelectorAll('.with-js')
	for (let p of elements) {
		p.innerText = p.innerText.substring(8, 20)
	}
</script>

<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
  </script>
  <script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});

</script>
  
{% endblock script %}

