{% extends "cambos/base_frota.html" %}
{% load static %}
{% block css %}
{% endblock css %}

{% block navigation %}
<div class="row">		
    <ol class="breadcrumb ">
        <li><a href="{% url 'frota_index' %}">
            <em class="fa fa-home"></em>
        </a></li>
        <li class="active"><a href="{% url 'relatorio_index' %}">
            Menu Anterior
        </a></li>
    </ol>	
</div><!--/.row-->
	
{% endblock navigation %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<p>
			<h4><strong >Empilhadeiras</strong><span class="color-red"><i class="fa fa-dolly"></i></span> </h4> 
		</p>
	</div>
</div><!--/.row-->
<form class="has-warning">
    <select name="area" id="area" onchange="changeSelect();" class="btn_filtro" class="ls-select" style="width:300px">
        <option value="" disabled selected>Selecione o tipo de relatório</option>
        <option value="1">Serviços</option>
        <option value="2">Manutenções</option>
        <option value="3">Ordem Serviço</option>
        <option value="4">Almoxarifado</option>
        <option value="5">Motoristas</option>
    </select>
    <div>
        <input class="btn_filtro" type="date" id="festa" style="width:148px" required>
        <input class="btn_filtro" type="date" id="festa" style="width:148px" required>
        <span class="validity"></span>
    </div>
</form>

<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>MOTORISTA</th>
            <th>SITUAÇÃO</th>
        </tr>
    </thead>
    <tbody>
        {% for m in resultadomotoristas %}
            <tr>
                <td>{{ m.nome }}</td>
                <td>{{ m.situacao }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> 

<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>SERVIÇO</th>
            <th>QUANTIDADE</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultadoservicos %}
            <tr>
                <td>{{ r.servico }}</td>
                <td>{{ r.quantidade }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>RESPONSÁVEL</th>
            <th>BOT. UTILIZADO</th>
            <th>BOT. REPOSTO</th>
            <th>EMPILHADERIA</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultadomanutencoes %}
            <tr>
                <td>{{ r.responsavel }}</td>
                <td>{{ r.botijao_utilizado }}</td>
                <td>{{ r.botijao_reposto }}</td>
                <td>{{ r.empilhadeira_id }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>SETOR</th>
            <th>SERVIÇO</th>
            <th>SITUAÇÃO</th>
            <th>QUANTIDADE</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultadoordem %}
            <tr>
                <td>{{ r.setor }}</td>
                <td>{{ r.servico }}</td>
                <td>{{ r.situacao }}</td>
                <td>{{ r.quantidade }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>PRODUTO</th>
            <th>QUANTIDADE</th>
            <th>RESPONSÁVEL</th>
            <th>DATA</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultadoalmoxarifado %}
            <tr>
                <td>{{ r.produto }}</td>
                <td>{{ r.quantidade }}</td>
                <td>{{ r.responsavel }}</td>
                <td>{{ r.data }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content%}


{% block script %}
<script>
    function changeSelect(){

        var select = document.getElementById('area');
        var selectSetor = document.getElementById('setor');

        var value = select.options[select.selectedIndex].value;

        //remove itens
        var length = selectSetor.options.length;        
        var i;
        for(i = selectSetor.options.length-1 ; i>=0 ; i--)
        {
            selectSetor.remove(i);
        }
</script>
<script>
	const elements = document.querySelectorAll('.with-js')
	for (let p of elements) {
		p.innerText = p.innerText.substring(8, 20)
	}
</script>

<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>

<script src="https://momentjs.com/downloads/moment.min.js"></script>

<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
</script>

<script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});
</script>
  
{% endblock script %}

