{% extends "cambos/base_frota.html" %}
{% load static %}
{% block css %}{% endblock css %}

{% block navigation %}
    <div class="row">		
        <ol class="breadcrumb ">
            <li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'relatorio_index' %}">
                Menu Anterior
            </a></li>
        </ol>	
    </div><!--/.row-->
	
	<div class="row">
       
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}
<div class="panel panel-container">
<div class="col-12">	
	<div id="identificado" class="col-xs-4 no-padding">
		<div class="panel panel-orange panel-widget border-right border-bottom">
			<h3>Relatório de Solicitações <i class="fas fa-list	"></i></h3>  
		</div>
	</div>
	<a href="{% url 'relatorio_viagem' %}">											
		<div id="identificado2" class="col-xs-4 no-padding">					
			<div class="panel panel-teal panel-widget border-right border-bottom">
				<h3>Ir para Relatório de Viagens <em class="fa fa-truck"></em></h3>			
			</div>
		</div>	
	</a>	
	<a href="{% url 'relatorio_abastecimentocaminhao' %}">				
		<div id="identificado2" class="col-xs-4 no-padding">
			<div class="panel panel-orange panel-widget border-right border-bottom">
				<h3>Ir para Relatório de Abastecimento <i class="fas fa-gas-pump"></i></h3>
			</div>
		</div>
	</a>						
</div>
</div>
<div class="col-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<button type="button" class="btn_filtrar" data-toggle="modal"
			data-target="#exampleModal">
			FILTRAR
			</button>
			<table id="table"				
			data-toolbar="#toolbar"
			data-show-toggle="false"
			data-show-columns="true"
			data-select-item-name="toolbar"
			data-pagination="true"				 
			>
				<thead>
					<tr>
						<th class="text-center">Solicitante</th>
						<th class="text-center">Prioridade</th>
						<th class="text-center">Peso</th>
						<th class="text-center">Rua</th>
						<th class="text-center">Número</th>
						<th class="text-center">Bairro</th>
						<th class="text-center">Cidade</th>
						<th class="text-center">UF</th>
						<th class="text-center">CEP</th>
						<th data-field="Data Prevista" class='text-center'>Data Prevista</th>
						<th data-field="Data Solicitação"class='text-center'>Data Solicitação</th>
                        <th data-field="Data Atendimento"class='text-center'>Data Atendimento</th>
                        <th data-field="Data Finalizacao"class='text-center'>Data Finalização</th>
                        <th data-field="Veiculo"class='text-center'>Veículo</th>
					</tr>
				</thead>
				<tbody>
                    {% for data in filter.qs %}
                        {% comment %} <tr data-href="{{data.pk}}" {% endcomment %}
                        <tr data-href="#"
                            class="trLink" >
                            <td class='text-center'>
                                {% for u in user %}
                                    {%if u.id == data.user_id%}
                                        {{u.name}}
                                    {%endif%}
                                {% endfor %}
                            </td>
                            <td class='text-center' >																					
                                {%if data.prioridade == 'U' %} 							
                                    Urgente
                                {%elif data.prioridade == 'N' %} 						
                                    Normal
                                {%endif%}																		
                            </td>
                            <td class='text-center'>{{ data.peso }}</td>
                            <td class='text-center'>
                                {% for e in endereco %}
                                    {%if e.id == data.endereco_id%}
                                        {{e.endereco}}
                                    {%endif%}
                                {% endfor %}
                            </td>
                            <td class='text-center'>
                            {% for e in endereco %}
                                {%if e.id == data.endereco_id%}
                                    {{e.numero}}
                                {%endif%}
                            {% endfor %}
                            </td>
                            <td class='text-center'>
                            {% for e in endereco %}
                                {%if e.id == data.endereco_id%}
                                    {{e.bairro}}
                                {%endif%}
                            {% endfor %}
                            </td>
                            <td class='text-center'>
                            {% for e in endereco %}
                                {%if e.id == data.endereco_id%}
                                    {{e.cidade}}
                                {%endif%}
                            {% endfor %}
                            </td>
                            <td class='text-center'>
                            {% for e in endereco %}
                                {%if e.id == data.endereco_id%}
                                    {{e.uf}}
                                {%endif%}
                            {% endfor %}
                            </td>
                            <td class='text-center'>
                            {% for e in endereco %}
                                {%if e.id == data.endereco_id%}
                                    {{e.cep}}
                                {%endif%}
                            {% endfor %}
                            </td>
                            <td class='text-center'>{{ data.data_prevista|date:"d/m/y" }}</td>
                            <td class='text-center'>{{ data.data_solicitacao|date:"d/m/y H:i" }}</td>
                            <td class='text-center'>{{ data.data_atendimento|date:"d/m/y H:i" }}</td>
                            <td class='text-center'>{{ data.data_finalizacao|date:"d/m/y H:i" }}</td>
                            <td class='text-center'>
                                {% for i in itemviagem %}
                                    {% if i.viagem_solicitacao.pk == data.pk %}
                                        {{i.viagem.veiculo}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                    {% endfor %}
				</tbody>
			</table>
			{% comment %} <h4><i class="fas fa-gas-pump"></i>Quantidade total de Combustível: <b>{{tot|floatformat:2}}</b> litros.</h4>
			<h4><i  class="fa fa-usd"> </i>  Valor Gasto : <b>R$ {{valor|floatformat:2}}</b></h4>			 {% endcomment %}
		</div>
	</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title titulo_filtrar" id="exampleModalLabel">Selecione os Filtros</h5>
		</div>
		<div class="modal-body">
			<form method="GET">
				{{filter.form.as_p}}
			<input class="btn_filtrar_modal" type="submit" value="FILTRAR">
			</form>
		</div>
		
		</div>
	</div>
</div>


{% endblock content%}

{% block script %}
<script>
	const elements = document.querySelectorAll('.with-js')
	for (let p of elements) {
		p.innerText = p.innerText.substring(8, 20)
	}
</script>


<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
  </script>
  <script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});

</script>
  
{% endblock script %}

