{% extends "cambos/base_frota.html" %}
{% load static %}
{% block css %}{% endblock css %}

{% block navigation %}
    <div class="row">		
        <ol class="breadcrumb ">
            <li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'relatorio_index' %}">
                Voltar para Relatórios
            </a></li>
        </ol>	
    </div><!--/.row-->
	
	<div class="row">
       
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}
<h1 class="page-header">Viagens<span class="text-muted small"> </span></h1></h1>
	<div class="col-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<button type="button" class="btn_filtrar" data-toggle="modal"
	 			data-target="#exampleModal">
    			FILTRAR
 				</button>
				<div id="toolbar">	
					<strong class="text-danger"><i class="fa fa-plane"></i> Em trânsito</strong>
			  	</div>
				<table id="table"				
				data-toolbar="#toolbar"
				data-show-toggle="false"
				data-show-columns="true"
				data-select-item-name="toolbar"
				data-pagination="true"				 
				>
					<thead>
						<tr>						
							<th data-field="Data Saída" data-formatter="dateFormat" data-sortable="true" class='text-center'>Data Saída</th>
							<th data-field="Veiculo"  data-sortable="true" class='text-center'>Veiculo</th>																					
							<th data-field="Destino"  data-sortable="true" class='text-center'>Destino</th>
							<th data-field="Motorista" data-sortable="true" class='text-center'>Motorista</th>
							<th data-field="Ajudante" data-sortable="true" class='text-center'>Ajudante</th>
							<th data-field="Data Chegada"  data-formatter="dateFormat" data-sortable="true" class='text-center'>Data Chegada</th>
							<th data-field="km" data-sortable="true" class='text-center'>Km Rodado</th>
							<th data-field="tempo gasto" data-sortable="true" class='text-center'>Tempo gasto</th>
						</tr>
					</thead>
					<tbody>
						{%for item in filter.qs|dictsortreversed:"data_inicial"%}
							{%if item.veiculo.caminhao%}
								<tr data-href="#"	
								class="trLink" >
									<td class='text-center' >									
										{{item.data_inicial|safe}}									
									</td>
									<td class='text-center'>
										{%if item.data_final%}
											{{item.veiculo}}</td>	
										{% else %}
											<lu class="trLink text-danger negrito">{{item.veiculo}}</lu>
										{%endif%}							
									<td class='text-center'>{{item.destino}}</td>
									<td class='text-center'>
										{% if item.motorista2 != none %}
											{{item.motorista.nome}} | {{item.motorista2.nome}}
										{% elif item.motorista2 == none %}
											{{item.motorista.nome}}
										{%endif%}
									</td>
									<td class='text-center' >
										{% if item.ajudante%}
											{{item.ajudante}}
										{%else%}
									 		-
										{%endif%}																		
									</td>
									<td class='text-center' >																					
										{{item.data_final|safe}}																		
									</td>
									<td class='text-center' >
										{%if item.kmfinalmenosinicial != none %}																					
											{{item.kmfinalmenosinicial}} km
										{%else%}
											-
										{%endif%}																		
									</td>
									<td class='text-center'>
										{%if item.diagasto != none%}
											{{ item.diagasto}} dias,
										{%endif%}
										<div class="with-js">
										{%if item.hora_final > item.hora_inicial%}
											{%if item.horagasto != none%}																			
												{{item.horagasto}}		
											{%endif%}	
										</div>		
										{%endif%}	
										{%if item.horagasto != none%}																			
											{{item.horagasto}}		
										{%endif%}												
									</td>
							{%endif%}
						{% endfor %}
					</tbody>
				</table>			
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-body">
			<h3><i class="fa fa-plane"></i> Total de Viagens Realizadas: {{counter}}</h3>
			<h3><i class="fa fa-tachometer"></i> Total de KM Rodados: {{somakm}}</h3>
		</div>
	</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title titulo_filtrar" id="exampleModalLabel">Selecione os Filtros</h5>
		</div>
		<div class="modal-body">
			<form method="GET">
				{{filter.form.as_p}}
			<input class="btn_filtrar_modal" type="submit" value="FILTRAR">
			</form>
		</div>
		
		</div>
	</div>
</div>

{% endblock content%}

{% block script %}
<script>
	const elements = document.querySelectorAll('.with-js')
	for (let p of elements) {
		p.innerText = p.innerText.substring(7, 20)
	}
</script>


<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
  </script>
  <script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});

</script>
  
{% endblock script %}

