{% extends "cambos/base_frota.html" %}
{% load static %}
{% block css %}{% endblock css %}

{% block navigation %}
<div class="row">		
    <ol class="breadcrumb ">
        <li><a href="{% url 'frota_index' %}">
            <em class="fa fa-home"></em>
        </a></li>
        <li class="active"><a href="{% url 'relatorio_index' %}">
            Voltar para Relatórios
        </a></li>
    </ol>	
</div>
	
{% endblock navigation %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<p>
		    <h4><strong>Relatório Empilhadeiras</strong><span class="color-red"><i class="fa fa-dolly fa-2x"></i></span> </h4> 
		</p>
	</div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <form action="{% url 'relatorio_empilhadeira' %}" method="GET"> {% csrf_token %}
            <div class="col-sm">
                <select class="btn_filtro" name="categoria">
                    <option value="" disabled selected>Selecione o tipo de relatório</option>
                    <option value="S">Serviços</option>
                    <option value="MA">Manutenções</option>
                    <option value="O">Ordem Serviço</option>
                    <option value="A">Almoxarifado</option>
                </select>
                <br>
            </div>
            <div class="col-sm">
                <input type="date" class="btn_filtro" name="periodo_inicial">
                <br>
                <input type="date" class="btn_filtro" name="periodo_final">
            </div>
            <input type="submit" class="btn" style="font-size: 15px; background-color: #92eed2" value="FILTRAR">
        </form>
    </div>
</div>

<br>
{%if categoria == 'S'%}
<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <p>
        <h4><strong>Período selecionado:</strong> {{periodo.periodo_inicial|slice:"8:"}}/{{periodo.periodo_inicial|slice:"5:7"}}/{{periodo.periodo_inicial|slice:"0:4"}} a {{periodo.periodo_final|slice:"8:"}}/{{periodo.periodo_final|slice:"5:7"}}/{{periodo.periodo_final|slice:"0:4"}}</h4>
        <h4><strong>Tempo Total:</strong> {{resultado.horas}}Horas e {{resultado.minutos}}Minutos</h4>
        <h3><strong >Relatório de Serviços</strong><span class="color-red"></span></h3> 
    </p>
    <thead style="color: #92eed2; font-size: 19px" >
        <tr>
            <th class="text-center">Empilhadeira</th>
            <th class="text-center">Serviço</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Motorista</th>
            <th class="text-center">Data/Hora Início</th>
            <th class="text-center">Data/Hora Fim</th>
            <th class="text-center">Horas de Uso</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultado.servicos %}
            <tr>
                <td class='text-center'>{{ r.empilhadeira_id }}</td>
                <td class='text-center'>{{ r.servico }}</td>
                <td class='text-center'>{{ r.quantidade }}</td>
                <td class='text-center'>{{ r.nome }}</td>
                <td class='text-center'>{{ r.data_inicial }} / {{ r.horario_inicial }}</td>
                <td class='text-center'>{{ r.data_final }} / {{ r.horario_final }}</td>
                <td class='text-center'>{{ r.horario_de_uso }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endif%}

<br>
{% if categoria == 'MA' %}
<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <p>
        <h4><strong>Período selecionado:</strong> {{periodo.periodo_inicial|slice:"8:"}}/{{periodo.periodo_inicial|slice:"5:7"}}/{{periodo.periodo_inicial|slice:"0:4"}} a {{periodo.periodo_final|slice:"8:"}}/{{periodo.periodo_final|slice:"5:7"}}/{{periodo.periodo_final|slice:"0:4"}}</h4>
        <h4><strong>Total Manutenções:</strong> {{resultado.total}}</h4>
        <h4><strong>Empilhadeira 1:</strong> {{resultado.total_emp.1}}</h4>
        <h4><strong>Empilhadeira 2:</strong> {{resultado.total_emp.2}}</h4>
        <h4><strong>Empilhadeira 3:</strong> {{resultado.total_emp.3}}</h4>
        <h3><strong >Relatório de Manutenções</strong><span class="color-red"></span> </h3> 
    </p>
    <thead style="color: #92eed2; font-size: 19px" >
        <tr>
            <th class="text-center">Responsável</th>
            <th class="text-center">Botijão Utilizado</th>
            <th class="text-center">Botijão Reposto</th>
            <th class="text-center">Empilhadeira</th>
            <th class="text-center">Data</th>
            <th class="text-center">Hora</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultado.manutencoes %}
            <tr>
                <td class="text-center">{{ r.responsavel }}</td>
                <td class="text-center">{{ r.botijao_utilizado }}</td>
                <td class="text-center">{{ r.botijao_reposto }}</td>
                <td class="text-center">{{ r.empilhadeira_id }}</td>
                <td class="text-center">{{ r.data }}</td>
                <td class="text-center">{{ r.horas }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endif%}

<br>
{%if categoria == 'O'%}
<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <p>
        <h4><strong>Período selecionado:</strong> {{periodo.periodo_inicial|slice:"8:"}}/{{periodo.periodo_inicial|slice:"5:7"}}/{{periodo.periodo_inicial|slice:"0:4"}} a {{periodo.periodo_final|slice:"8:"}}/{{periodo.periodo_final|slice:"5:7"}}/{{periodo.periodo_final|slice:"0:4"}}</h4>
        <h3><strong >Relatório Ordem de Serviço</strong><span class="color-red"></span> </h3> 
    </p>
    <thead style="color: #92eed2; font-size: 17px" >
        <tr>
            <th class="text-center">Setor</th>
            <th class='text-center'>Serviço</th>
            <th class="text-center">Situação</th>
            <th class="text-center">Qtd</th>
            <th class="text-center">Qtd Atendida</th>
            <th class="text-center">Serviço N.</th>
            <th class="text-center">Observação</th>
            <th class="text-center">Data/Hora Ordem</th>
            <th class="text-center">Data/Hora Atendimento</th>
            <th class="text-center">Data/Hora Finalização</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultado.ordem %}
            <tr>
                <td class="text-center">{{ r.setor }}</td>
                <td class="text-center">{{ r.servico }}</td>
                <td class="text-center">{{ r.situacao }}</td>
                <td class="text-center">{{ r.quantidade }}</td>
                <td class="text-center">{{ r.quantidade_atendida }}</td>
                <td class="text-center">{{ r.servico_id }}</td>
                <td class="text-center">{{ r.observacao }}</td>
                <td class="text-center">{{ r.data }} / {{ r.horas }}</td>
                <td class="text-center">{{ r.data_atendimento }} / {{ r.hora_atendimento }}</td>
                <td class="text-center">{{ r.data_finalizacao }} / {{ r.hora_finalizacao }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endif%}

<br>
{%if categoria == 'A'%}
<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <p>
        <h4><strong>Período selecionado:</strong> {{periodo.periodo_inicial|slice:"8:"}}/{{periodo.periodo_inicial|slice:"5:7"}}/{{periodo.periodo_inicial|slice:"0:4"}} a {{periodo.periodo_final|slice:"8:"}}/{{periodo.periodo_final|slice:"5:7"}}/{{periodo.periodo_final|slice:"0:4"}}</h4>
        <h3><strong >Relatório Almoxarifado</strong><span class="color-red"></span> </h3> 
    </p>
    <thead style="color: #92eed2; font-size: 19px" >
        <tr>
            <th class="text-center">Produto</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Responsável</th>
            <th class="text-center">Data</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultado.registros %}
            <tr>
                <td class="text-center">{{ r.produto }}</td>
                <td class="text-center">{{ r.quantidade }}</td>
                <td class="text-center">{{ r.responsavel }}</td>
                <td class="text-center">{{ r.data }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endif%}
{% endblock content%}


{% block script %}
<script>
	const elements = document.querySelectorAll('.with-js')
	for (let p of elements) {
		p.innerText = p.innerText.substring(8, 20)
	}
</script>

<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>

<script src="https://momentjs.com/downloads/moment.min.js"></script>

<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
</script>

<script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});
</script>
  
{% endblock script %}

