{% extends "cambos/base_frota.html" %}
{% load static %}
{% block css %}{% endblock css %}

{% block navigation %}
    <div class="row">		
        <ol class="breadcrumb ">
            <li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'relatorio_index' %}">
                Menu Anterior
            </a></li>
        </ol>	
    </div><!--/.row-->
	
	<div class="row">
       
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}
<div class="panel panel-container">
	<div class="col-12">	
        <div id="identificado" class="col-xs-6 no-padding">
            <div class="panel panel-orange panel-widget border-right border-bottom">
                <div class="row no-padding"><span class="color-orange"><i class="fa fa-truck"></i></i></span>
                    <h2>Relatório de Abastecimento <i class="fas fa-gas-pump"></i></h2>
                    
                </div>
            </div>
        </div>
        <a href="{% url 'relatorio_viagem' %}">											
			<div id="identificado2" class="col-xs-6 no-padding">					
				<div class="panel panel-teal panel-widget border-right border-bottom">
					<div class="row no-padding"><span class="color-blue"><i class="fa fa-truck"></i></span>
						<h2>Ir para Relatório de Viagens <em class="fa fa-plane"></em></h2>						
					</div>
				</div>
			</div>	
        </a>							
	</div>
</div>
	<div class="col-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<button type="button" class="btn_filtrar" data-toggle="modal"
	 			data-target="#exampleModal">
    			FILTRAR
 				</button>
				<table id="table"				
				data-toolbar="#toolbar"
				data-show-toggle="false"
				data-show-columns="true"
				data-select-item-name="toolbar"
				data-pagination="true"				 
				>
					<thead>
						<tr>						
							<th data-field="data" data-formatter="dateFormat" data-sortable="true" class='text-center'>Data</th>
							<th data-field="Veiculo"  data-sortable="true" class='text-center'>Veiculo</th>							
							<th data-field="Combustivel" data-sortable="true" class='text-center'>Combustível</th>		
							<th data-field="Tipoabastecimento" data-sortable="true" class='text-center'>Tipo</th>												
							<th data-field="Valor"  data-sortable="true" class='text-center'>Valor Abas.</th>
							<th data-field="Quantidade" data-sortable="true" class='text-center'>Quantidade(L)</th>
						</tr>
					</thead>
					<tbody>
						{%for item in filter.qs|dictsortreversed:"data"%}
                            {%if item.veiculo.caminhao%}
                                <tr data-href="#"	
                                class="trLink" >
                                <td class='text-center' >									
                                    {{item.data|safe}}									
                                </td>				
                                <td class='text-center'>{{item.veiculo}}</td>
                                <td class='text-center' >																					
                                    {{item.combustivel}}</td>
								<td class='text-center'>
									{%if item.interno%}
										Interno
									{%else%}
										Externo
									{%endif%}
                                <td class='text-center'>
                                    R${{item.valor_unitario|floatformat:2}}												
                                </td>
                                <td class='text-center'>{{item.quantidade|floatformat:1}}</td>
                            {%endif%}
						{% endfor %}
					</tbody>
				</table>			
			</div>
		</div>
	</div>


<div class="panel panel-default">
	<div class="panel-body">
		<h3><i class="fas fa-gas-pump"></i>Quantidade total de Combustível: <b>{{tot|floatformat:2}}</b> litros.</h3>
		<h3><i  class="fa fa-usd"> </i>  Valor Gasto : <b>R$ {{valor|floatformat:2}}</b></h3>
	</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title titulo_filtrar" id="exampleModalLabel">Selecione os Filtros</h5>
		</div>
		<div class="modal-body">
			<form method="GET">
				{{filter.form.as_p}}
			<input class="btn_filtrar_modal" type="submit" value="FILTRAR">
			</form>
		</div>
		
		</div>
	</div>
</div>


{% endblock content%}

{% block script %}
<script>
	const elements = document.querySelectorAll('.with-js')
	for (let p of elements) {
		p.innerText = p.innerText.substring(8, 20)
	}
</script>


<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
  </script>
  <script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});

</script>
  
{% endblock script %}

