{% extends "cambos/base_frota.html" %}
{% load static %}
{% block css %}

{% endblock css %}

{% block navigation %}
    <div class="row">		
        <ol class="breadcrumb ">
            <li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'veiculo_list' %}">Veículos</a></li>
        </ol>	
    </div><!--/.row-->
	
	<div class="row">
        <div class="col-lg-12">
			<h4><b>Solicitações :</b></h4>
			{% comment %} <p>
				Veículo: 
				<strong>{{viag.veiculo}}</strong>
			</p>
			<p>
				Destino: 
				<strong>{{viag.destino}}</strong>
			</p>
			<p>
				Motorista: 
				<strong>{{viag.motorista.nome}} / {{viag.motorista2.nome}}</strong>
			</p>
			<p>
				Data Saída: 
				<strong>{{viag.data_inicial|date:"d/m/Y"}} </strong>
			</p> {% endcomment %}
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}	
<div class="col-12">
	<div class="panel panel-default">
		<div id="toolbar">		
			<a href="{% url 'solicitacao_create' %}" class="btn_filtrar" data-toggle="modal">
				<i class="fa fa-plus"></i>Nova Solicitação
			</a>
		</div>
	</div>
</div>	
<div class="col-12">	
	<div class="panel panel-default">
		<div class="panel-body">
			<table id="table"				
				data-toolbar="#toolbar"
				data-toggle="table"
				data-show-refresh="false"
				data-show-toggle="false"
				data-show-columns="true"
				data-search="true"
				data-select-item-name="toolbar"
				data-pagination="true"				 
				data-sort-order="desc"
			 >
				<thead>
					<tr>
                        <th class="text-center">Situação</th>
                        <th class="text-center">Tipo</th>
						<th class="text-center">Solicitante</th>
						<th class="text-center">Prioridade</th>
						<th class="text-center">Produto</th>
						<th class="text-center">Peso</th>
						<th class="text-center">Quantidade</th>
						<th class="text-center">Rua</th>
						<th class="text-center">Número</th>
						<th class="text-center">Bairro</th>
						<th class="text-center">Cidade</th>
						<th class="text-center">UF</th>
						<th class="text-center">CEP</th>
						<th data-field="Data Prevista" class='text-center'>Data Prevista</th>
						<th data-field="Data Solicitação"class='text-center'>Data Solicitação</th>
					</tr>
				</thead>
				<tbody>
					{% for data in object_list|dictsort:"data_solicitacao" %}
                    <tr data-href="{% url 'solicitacao_update' data.pk %}"
                            class="trLink" >
                            <td class='text-center'>
                                {% if data.situacao == '1' %}
                                    <strong class="text-danger">Aguardando</strong>
                                {% elif data.situacao == '2' %}
                                    <strong class="text-info">Em Atendimento</strong>
                                {% else %}
                                <strong class="text-success">Finalizado</strong>
                                {% endif %}
                            </td>
                            <td class='text-center'>
                                {% if data.tipo == '1' %}
                                    Coleta
                                {% elif data.tipo == '2' %}
                                    Entrega
                                {% elif data.tipo == '3' %}
                                    Coleta Direta
                                {% elif data.tipo == '4' %}
                                    Entrada Direta
                                {% endif %}
                            </td>
                            <td class='text-center'>
                                {{data.user}}
                            </td>
                            <td class='text-center' >																					
                                {%if data.prioridade == '2' %} 							
                                    Urgente
                                {%elif data.prioridade == '1' %} 						
                                    Normal
                                {%endif%}																		
                            </td>
							<td class='text-center'>{{ data.produtos }}</td>
                            <td class='text-center'>{{ data.peso }}</td>
							<td class='text-center'>{{ data.quantidade }}</td>
                            <td class='text-center'>
                                {{data.endereco.endereco}}
                            </td>
                            <td class='text-center'>
                                {{data.endereco.numero}}
                            </td>
                            <td class='text-center'>
                                {{data.endereco.bairro}}
                            </td>
                            <td class='text-center'>
                                {{data.endereco.cidade}}
                            </td>
                            <td class='text-center'>
                                {{data.endereco.uf}}
                            </td>
                            <td class='text-center'>
                                {{data.endereco.cep}}
                            </td>
                            <td class='text-center'>{{ data.data_prevista|date:"d/m/y" }}</td>
                            <td class='text-center'>{{ data.data_solicitacao|date:"d/m/y H:i" }}</td>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{%endblock content%}


{% block script %}

<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
  </script>
  <script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});

</script>
	
{% endblock script %}

