{% load static %}
{{ form.media.css }}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cambos - Frota</title>
	{% block css %}{% endblock css %}
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">	
	<link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/dfb3144c94.js" crossorigin="anonymous"></script>
	<link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	<link href="{% static 'fullcalendar5/main.min.css' %}" rel="stylesheet">
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
</head>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form method="post" autocomplete="off">
              <div class="modal-header">
                <h5 class="modal-title titulo_filtrar" id="exampleModalLabel">Finalizar Solicitação</h5>
                {{veiculo}}
              </div>
              <div class="modal-body">                
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                    {% for field in form %}
                        <div class="form-group">
                            {% if field.errors %}
                                <ul class="form-errors">
                                {% for error in field.errors %}
                                    <li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ul>
                            {% endif %}                            
                            {% if field.help_text %}<div class="form-helptext">{{ field.help_text }}</div>{% endif %}                    
                        </div>
                    {% endfor %}
                    {{form.as_p}}
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Clique para Finalizar a Solicitação!"  />
              </div>
        </form>
       
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
{% block script %}
 {{ form.media.js }}
 <script>
    let option = document.getElementById('setor{{setor.id}}');        
    option.setAttribute('class', 'active');					           
  </script>
  <script>
    $(document).ready(function(){            
        $(".enabled").attr("class", "disabled");
        $(".disabled a").removeAttr("href");    
        $(".date").css('pointer-events', 'none');       
    });
  </script>
 
  <script>
   $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            minViewMode: "days",
            todayBtn: true,
            todayHighlight: true,
            
        });            
        $('.datepicker2').datepicker({
            format: 'hh:mm',
            minViewMode: "hours",
            todayBtn: true,
            todayHighlight: true,
            
        });            
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

{% comment %} <script>
function mostrarPosicao(posicao) {
    console.log("Latitude: " + posicao.coords.latitude + 
    "; Longitude: " + posicao.coords.longitude + "");

    const geoApiUrl = 'https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=${posicao.coords.latitude}&longitude=${posicao.coords.longitude}&localityLanguage=en'

    fetch(geoApiUrl)
    .then(res => res.json())
    .then(data => {
        console.log(data)
    })
}
if(window.navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(mostrarPosicao);
}
else{
    document.writeln("A API Geolocation foi encontrada.");  
}
</script>  {% endcomment %}



{% endblock script %}