{% extends "cambos/base_frota.html" %}

{% block css %}{% endblock css %}

{% block navigation %}
    <div class="row">		
        <ol class="breadcrumb ">
            <li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="javascript:void(0)" onClick="history.go(-1); return false;">Página anterior</a></li>
        </ol>	
    </div><!--/.row-->
	
	<div class="row">
        <div class="col-lg-12">
			<h4><b>Viagem Selecionada:</b></h4>
			<p>
				Veículo: 
				<strong>{{viag.veiculo}}</strong>
			</p>
			<p>
				Destino: 
				<strong>{{viag.destino}}</strong>
			</p>
			<p>
				Motorista: 
				<strong>{{viag.motorista.nome}} / {{viag.motorista2.nome}}</strong>
			</p>
			<p>
				Data Saída: 
				<strong>{{viag.data_inicial|date:"d/m/Y"}} </strong>
			</p>
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}		
<div class="col-12">	
	<div class="panel panel-default">
		<div class="panel-heading"> <strong class="">Clique em Atribuir Solicitação para inclui-la na viagem selecionada.<strong class="text-success"></strong></strong></div>
		<div class="panel-body">
			<table id="table"				
				data-toolbar="#toolbar"
				data-toggle="table"
				data-show-refresh="false"
				data-show-toggle="false"
				data-show-columns="true"
				data-search="true"
				data-select-item-name="toolbar"
				data-pagination="true"				 
				data-sort-order="desc"
			 >
				<thead>
					<tr>
						<th class="text-center">Solicitante</th>
						<th class="text-center">Prioridade</th>
						<th class="text-center">Peso</th>
						<th class="text-center">Rua</th>
						<th class="text-center">Número</th>
						<th class="text-center">Bairro</th>
						<th class="text-center">Cidade</th>
						<th class="text-center">UF</th>
						<th class="text-center">CEP</th>
						<th data-field="Data Prevista" class='text-center'>Data Prevista</th>
						<th data-field="Data Solicitação"class='text-center'>Data Solicitação</th>
						<th class='text-center'>-</th>
					</tr>
				</thead>
				<tbody>
					{% for data in lista_solicitacoes %}
					<tr data-href="{{data.pk}}"
						class="trLink" >
						<td class='text-center'>
							{% for u in user %}
								{%if u.id == data.user_id%}
									{{u.name}}
								{%endif%}
							{% endfor %}
						</td>
						<td class='text-center' >																					
							{%if data.prioridade == 'U' %} 							
								Urgente
							{%elif data.prioridade == 'N' %} 						
								Normal
							{%endif%}																		
						</td>
						<td class='text-center'>{{ data.peso }}</td>
						<td class='text-center'>
							{% for e in endereco %}
								{%if e.id == data.endereco_id%}
									{{e.endereco}}
								{%endif%}
							{% endfor %}
						</td>
						<td class='text-center'>
						{% for e in endereco %}
							{%if e.id == data.endereco_id%}
								{{e.numero}}
							{%endif%}
						{% endfor %}
						</td>
						<td class='text-center'>
						{% for e in endereco %}
							{%if e.id == data.endereco_id%}
								{{e.bairro}}
							{%endif%}
						{% endfor %}
						</td>
						<td class='text-center'>
						{% for e in endereco %}
							{%if e.id == data.endereco_id%}
								{{e.cidade}}
							{%endif%}
						{% endfor %}
						</td>
						<td class='text-center'>
						{% for e in endereco %}
							{%if e.id == data.endereco_id%}
								{{e.uf}}
							{%endif%}
						{% endfor %}
						</td>
						<td class='text-center'>
						{% for e in endereco %}
							{%if e.id == data.endereco_id%}
								{{e.cep}}
							{%endif%}
						{% endfor %}
						</td>
						<td class='text-center'>{{ data.data_prevista|date:"d/m/y" }}</td>
						<td class='text-center'>{{ data.data_solicitacao|date:"d/m/y H:i" }}</td>
						<td class='text-center'>
							<form class="" id="" method="submit">
								{% if itemviagem == 0 %}
									<button class="fas fa-dolly-flatbed btn btn-primary" type="submit" role="button" value="null">
										Atribuir Solicitação
									</button>
									<input type="hidden" class="form-control" id="editar" name="editar"
										value="true" placeholder="editar"
										aria-label="editar" aria-describedby="basic-addon1">

									<input type="hidden" id="solicitacao_id" name="solicitacao_id" value="{{ data.pk }}" />
								{% else %}
									<button class="fas fa-window-close btn btn-danger" type="submit" role="button" value="null">
										Cancelar Solicitação
									</button>
									<input type="hidden" class="form-control" id="editar" name="editar"
										value="false" placeholder="editar"
										aria-label="editar" aria-describedby="basic-addon1">
									<input type="hidden" id="solicitacao_id" name="solicitacao_id" value="{{ data.pk }}" />
								{% endif %}
							</form>
						</td>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{%endblock content%}


{% block script %}

<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
  </script>
  <script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});

</script>
	
{% endblock script %}

