{% extends "cambos/base_frota.html" %}

{% block css %}

{% endblock css %}

{% block navigation %}
    <div class="row">
        <ol class="breadcrumb">
			<li><a href="{% url 'frota_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'veiculo_list' %}">Veículos</a></li>
			<li class="active"><a href="{% url 'veiculo_index' veiculo.pk %}">Menu</a></li>
        </ol>
    </div>
	<div class="col-lg-12">
		<h1 class="page-header">{{veiculo}}<span class="text-muted small"></span></h1></h1>
	</div>
{% endblock navigation %}

{% block content %}		

<div class="col-12">
	<div class="panel panel-default">
		<div id="toolbar">		
			<a href="{% url 'viagem_create' veiculo.id %}" class="btn_filtrar" data-toggle="modal">
				<i class="fa fa-plus"></i>Nova Viagem/Reservar {{veiculo}}
			</a>
		</div>
	</div>
</div>	
{%if not veiculo.caminhao%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<table id="table"				
					data-toolbar="#toolbar"
					data-toggle="table"
					data-show-refresh="false"
					data-show-toggle="false"
					data-show-columns="true"
					data-search="true"
					data-select-item-name="toolbar"
					data-pagination="true"				 
					data-sort-order="desc"
					>
					<thead>
						<tr>
							<th data-field="Situação" data-sortable="true" class='text-center'>Situação</th>								
							<th data-field="Data Saída" data-sortable="true" class='text-center'>Data Saída</th>																												
							<th data-field="Destino" class='text-center'>Destino</th>																					
							<th data-field="Motorista" data-sortable="true" class='text-center'>Motorista</th>														
							<th data-field="Data Chegada" data-sortable="true" class='text-center'>Data Cheg.</th>
							{%if veiculo.caminhao%}
								<th class="text-center">Solicitações</th>	
							{%endif%}												
						</tr>
					</thead>
					<tbody>
						{% for data in lista|dictsortreversed:"data_inicial" %}
							<tr data-href="{% url 'viagem_update' data.pk %}"
								class="trLink" >							
								<td class='text-center' >	
									{%if data.hora_inicial|time:"h:i" != horaatual and data.data_inicial == dataatual and not data.data_final%}
										<lu class="text-info">Em Trânsito</lu>
									{%elif data.hora_inicial|time:"h:i" == horaatual and data.data_inicial == dataatual and not data.data_final%}
										<lu class="text-info">Em Trânsito</lu>
									{%elif data.data_inicial > dataatual and not data.km_final%}
										<lu class="text-primary">Reservado</lu>
									{%elif data.data_inicial == dataatual and data.hora_final and not data.km_final%}
										<lu class="text-primary">Reservado</lu>
									{%endif%}
									{%if data.data_final and data.km_final%}
										Concluído
									{%endif%}
								</td>
								<td class='text-center' >	
									{% if data.data_inicial %}								
										<strong>{{data.data_inicial|date:"d/m/y"}}
										{{data.hora_inicial}}</strong>							
									{% endif %}	
								</td>								
								<td class='text-center' >									
									{{data.destino|slice:"0:40"}}									
								</td>								
								<td class='text-center'>
									{% if data.motorista %}
										{{data.motorista.nome}}
									{%endif%}
								</td>				
								<td class='text-center' >	
									{% if data.data_final %}								
										<strong>{{data.data_final|date:"d/m/y"}}
										{{data.hora_final}}</strong>							
									{% endif %}	
								</td>
						{%endfor%}
					</tbody>					
				</table>
			</div>
			<div class="col-md-6">
				<h4><b>Obs: Favor agendar com no mínimo um dia de antecedência.</b></h4>
				<h4><b>Para agendamentos coloque a data de chegada e hora prevista de término.</b></h4>
				<hr>
				<div id="calendar" class="fc fc-media-screen fc-direction-ltr fc-theme-bootstrap"></div>
			</div>
		</div>
	</div>
{%endif%}
{%if veiculo.caminhao%}
	<table id="table"				
		data-toolbar="#toolbar"
		data-toggle="table"
		data-show-refresh="false"
		data-show-toggle="false"
		data-show-columns="true"
		data-search="true"
		data-select-item-name="toolbar"
		data-pagination="true"				 
		data-sort-order="desc"
		>
		<thead>
			<tr>
				<th data-field="Situação" data-sortable="true" class='text-center'>Situação</th>								
				<th data-field="Data Saída" data-formatter="dateFormat" data-sortable="true" class='text-center'>Data Saída</th>																												
				<th data-field="Destino" class='text-center'>Destino</th>																					
				<th data-field="Motorista" data-sortable="true" class='text-center'>Motorista</th>														
				<th data-field="Data Chegada"  data-formatter="dateFormat" data-sortable="true" class='text-center'>Data Chegada</th>
				<th class="text-center">Solicitações</th>														
			</tr>
		</thead>
		<tbody>
			{% for data in lista %}
				<tr data-href="{% url 'viagem_update' data.pk %}"
					class="trLink" >							
					<td class='text-center' >									
						{%if data.data_final%}
							Concluído
						{% else %}
							<lu class="text-danger">Em Trânsito</lu>
						{%endif%}
					</td>
					<td class='text-center' >	
						{% if data.data_inicial %}								
							{{data.data_inicial|safe}}								
						{% endif %}	
					</td>								
					<td class='text-center' >									
						{{data.destino}}									
					</td>								
					<td class='text-center'>
						{% if data.motorista2 != none %}
							{{data.motorista}} | {{data.motorista2}}
						{% elif data.motorista2 == none %}
							{{data.motorista}}
						{%endif%}
					</td>				
					<td class='text-center' >																					
						{{data.data_final|safe}}																		
					</td>
					<td class="text-center">
						{% if data.data_final == none %}
							<a href="{% url 'viagem_solicitacao_list' data.pk %}" class="btn btn-primary">
								<i class="fa fa-plus"></i>Atribuir
							</a>
						{% endif %}
					</td>																																				
			{%endfor%}
		</tbody>					
	</table>
{%endif%}
	
{%endblock content%}

{% block script %}

<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
</script>

<script>
	
$('#table').bootstrapTable({
	onClickRow: function (item, $element) {return  window.location = $element.data('href');},
});

</script>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		$('div').unbind('click');
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl,{
			locale : 'pt-br',
			headerToolbar: {
				left: 'prev,next today',
				center: 'title',
				right: 'dayGridMonth,timeGridWeek,timeGridDay',
			},
			businessHours: true, 
			dayMaxEvents: true,
			displayEventEnd: true,
			events: [
				{% for data in lista %}
					{
						url :  '{% url "viagem_update" data.pk %}',
						title: '{{data.destino}}',
						start: '{{data.data_inicial|date:"Y-m-d"}}T{{ data.hora_inicial|time:"H:i"}}',
						end:   '{{data.data_final|date:"Y-m-d"}}T{{ data.hora_final|time:"H:i"}}',
						color: '#257e4a',
					},
				{% endfor %}
			]
		});
		calendar.render();
		$('#calendar').fullCalendar('option', 'locale', 'pt-br');
	});
</script>
	
{% endblock script %}