{% extends "cambos/base_roupa.html" %}

{% block css %}

{% endblock css %}

{% block navigation %}
    <div class="row">
        <ol class="breadcrumb">
			<li><a href="{% url 'roupa_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
			<li><a href="{% url 'qualidade_index' %}">
                Qualidade
            </a></li>
            <li class="active">Ações</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ações<span class="text-muted small"> </span></h1></h1>
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}		
	<div class="col-12">
		
		<div class="panel panel-default">
			
			<div class="panel-body">
				<div id="toolbar">
					
				  </div>
				<table id="table"				
					data-toolbar="#toolbar"
					data-toggle="table"
					data-show-refresh="false"
					data-show-toggle="false"
					data-show-columns="true"
					data-search="true"
					data-select-item-name="toolbar"
					data-pagination="true"
					data-sort-name="Prazo"  					
					data-sort-order="asc"					
				 >
					<thead>
						<tr>							
						<th data-field="REF"  data-sortable="true" class='text-center'>REF</th>							
						<th data-field="Responsavel"  data-sortable="true" class='text-center'>Responsável</th>							
						<th data-field="Descrição" data-sortable="true" class='text-center'>Descrição</th>														
						<th data-field="Prazo"  data-sortable="true" class='text-center'>Prazo</th>
						<th data-field="Inicio" data-sortable="true" class='text-center'>Início</th>						
						<th data-field="Status" data-sortable="true" class='text-center'>Status</th>
							
						</tr>
					</thead>
					<tbody>
						{% for data in acoes %}							
							<tr data-href="{% url 'plano_acao_detail' data.plano_acao.id %}"
							 class="trLink " >								 																
								<td class='text-center'>
									{{data.plano_acao.referencia}}
								</td>																								
								<td class='text-center' >{{data.responsavel}}</td>
								<td class='text-center'>{{data.descricao}}</td>
								<td class='text-center'>{{data.data_prazo|date:"d/m/Y"}}</td>
								<td class='text-center'>{{data.data_inicio|date:"d/m/Y"}}</td>		
								{% if data.data_inicio == None %}						
								<td class='text-center text-danger negrito' > Aberta </td>	
								{% else %}
								<td class='text-center ' > Iniciada </td>	
								{% endif %}
							</tr>
						{%endfor%}
					</tbody>					
				</table>								
			</div>
		</div>
	</div>	
	
{%endblock content%}

{% block script %}

<script>	
	var tr = document.getElementsByClassName('tr-id');
tr.onclick = function (e) {
  location.href = 'http://www.google.com';
};
</script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
	function dateFormat(value, row, index) {
		return moment(value).format('DD/MM/YYYY');
	}	
</script>

<script>
	function dateSorter(a, b) {
		var aa = a.replace('$', '')
		var bb = b.replace('$', '')
		return aa - bb
		}
  </script>
  <script>
	
	$('#table').bootstrapTable({
		onClickRow: function (item, $element) {return  window.location = $element.data('href');},
	});

</script>
	
{% endblock script %}