packages:
  yum:
    postgresql94-devel: []

container_commands:
  01_python_devel_install:
    command: 'yum install -y python34-devel'
  02_postgresql_install:
    command: 'yum install -y postgresql94 postgresql94-devel'
  03_migrate:
    command: "python cambos/manage.py migrate"
    leader_only: true
  04_createsu:
    command: "python cambos/manage.py createsu"
    leader_only: true
  05_collectstatic:
    command: "python cambos/manage.py collectstatic --noinput"
  
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cambos.settings"
    "PYTHONPATH": "/opt/python/current/app/cambos:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: cambos/cambos/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  
 