packages:
  yum:
    postgresql94-devel: []

container_commands:
  01_python_devel_install:
    command: 'yum install -y python34-devel'
  02_postgresql_install:
    command: 'yum install -y postgresql94 postgresql94-devel'
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  04_createsu:
    command: "python manage.py createsu"
    leader_only: true
 
  
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "core.settings"
    "PYTHONPATH": "/opt/python/current/app/gis:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: core/wsgi.py
    NumProcesses: 3
    NumThreads: 20
 