packages:
  yum:
    postgresql94-devel: []

container_commands:
  01_python_devel_install:
    command: 'yum install -y python34-devel'
  
  
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "scbi.settings"
    "PYTHONPATH": "/opt/python/current/app/scbi:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  