{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cambos - BI</title>
	{% block css %}{% endblock css %}
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">	
	<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
	
	<link href="{% static 'css/bootstrap-table.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a href="{% url 'core_home' %}" class="navbar-brand" href="#"><span>Souza</span>Cambos</a>
				<ul class="nav navbar-top-links navbar-right">
					<!--
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-envelope"></em><span class="label label-danger">!</span>
					</a>						
						<ul class="dropdown-menu dropdown-messages">
							<li>
								<div class="dropdown-messages-box"><a href="profile.html" class="pull-left">
									<img alt="image" class="img-circle" src="http://placehold.it/40/30a5ff/fff">
									</a>
									<div class="message-body">
										<a href="#"><strong>{{user}}</strong> , o preenchimento dos dados de  <strong> jan/21 </strong> já está habilitado.</a>
									<br />
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="all-button"><a href="#">
									<em class="fa fa-list"></em> <strong>Preencher agora</strong>
								</a></div>
							</li>							
						</ul>
					</li>
					-->
					<li class="dropdown">
						<a class="dropdown-toggle count-info text-center" data-toggle="dropdown" href="#">
							<strong>{{user.first_name|make_list|first}}</strong>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="#">
									<div>
										<em class="fa fa-user"></em> {{user.first_name}}
										<span class="pull-right text-muted small">{{user.setor}}</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							{%if user.is_superuser %}
							<li>
								<a href="{% url 'user_create_cbv' %}">
									<div>
										<em class="fa fa-plus"></em> Novo Usuário									
									</div>
								</a>
							</li>
							<li>
								<a href="{% url 'admin:index' %}">
									<div>
										<em class="fa fa-list"></em> Gerenciador									
									</div>
								</a>
							</li>
							{%endif%}
							<li>
								<a href="{% url 'logout' %}">
									<div>
										<em class="fa fa-power-off"></em> Sair do Sistema									
									</div>
								</a>
							</li>
							
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="{% static 'img/fff.png' %}" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{user.setor}}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>{{user.first_name}}</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<form id="periodoForm" method="get">			
			<input type="hidden" value="{{request.GET.setor}}"class="" id="setor" name="setor">
			<div class="input-group date form-group" data-provide="datepicker" data-date-end-date={{ultimo_periodo}}>				
				
				<input readonly="readonly" type="text" value="{{ get_periodo.nome }}" class="form-control" id="periodo" name="periodo" required onchange="submete()">
				<div class="input-group-addon btn-primary">
					<span class="fa fa-calendar"></span>
				</div>				
			</div>			                    
		</form>		
		<ul class="nav menu ">						
			<li class="parent"><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Divisão Têxtil <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-minus"></em></span>
				</a>
				<ul class="children collapse in" id="sub-item-1">
					<li class="consolidado enabled"><a id="setor0" href="?setor=0&periodo={{ request.GET.periodo }}"><em class="fa fa-bar-chart">&nbsp;</em> Consolidado </a></li>
					{% for item in setores %}
						{% if item.divisao == "Têxtil" %}
							<li class="enabled"><a id="setor{{item.id}}"href="?setor={{item.id}}&periodo={{ request.GET.periodo }}"><em class="fa fa-pie-chart">&nbsp;</em> {{item.nome}}</a></li>
						{% endif%}
					{% endfor %}					
					<li class="divider"></li>
				</ul>
				
			</li>			
			
		</ul>
	</div><!--/.sidebar-->	
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		{% block navigation %}{% endblock navigation %}		
		{% block content %}{% endblock content %}		
		
	</div>	<!--/.main-->
	
	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	<script src="{% static 'js/chart.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
	<script src="{% static 'js/chart-data.js' %}"></script>
	<script src="{% static 'js/easypiechart.js' %}"></script>
	<script src="{% static 'js/easypiechart-data.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/bootstrap-table.js' %}"></script>
	
	{% block script %}
	
	{% endblock script %}
	<script>
	function submete(){
		var form = document.getElementById("periodoForm")
		form.submit()
	}
	</script>	
		
</body>
</html>