{% extends "cambos/base_roupa.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
{% endblock css %}

{% block navigation %}
    <div class="row">
        <ol class="breadcrumb">
			<li><a href="{% url 'roupa_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">Calendario</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">PCP<span class="text-muted small"> Calendario</span></h1></h1>
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}		
	<div class="col-12">
		
		<div class="panel panel-default">			
			<div class="panel-heading btn-margins"> <strong class="">Calendário: </strong>
				<div class="btn-group ">
					<button data-toggle="dropdown" class="btn btn-default btn-lg dropdown-toggle margin"><strong>{{calendario.nome}}</strong> <span class="caret"></span></button>
					<ul class="dropdown-menu">						
						{% for item in calendarios%}
						<li><a href="{% url 'calendario' item.pk %}" class="font-bold">{{item.nome}}</a></li>
						{%endfor%}
						
					</ul>
				</div>
				<div class="btn-group pull-right">
					<form class="" id="" method="submit">
						<button class="btn btn-success margin" type="submit" role="button">
							salvar
						</button>
						<input type="hidden" class="form-control" id="adicionar" name="adicionar"
								value="" placeholder="adição"
								aria-label="Adição" aria-describedby="basic-addon1">
						<input type="hidden" class="form-control" id="deletar" name="deletar"
								value="" placeholder="apagar"
								aria-label="Apagar" aria-describedby="basic-addon1">  
					</form>
				</div>
				
			</div>
			<div class="panel-body">
				<div id="calendario"></div>                
				</div> 
				
			</div>
		</div>
		
	</div>	
	
{%endblock content%}

{% block script %}
	
	<script src="{% static 'js/calendario.js' %}"></script>
	<script>
		var dias = {{dias|safe}}					
	</script>
	<script src="{% static 'js/custom_calendario.js' %}"></script>
	
	
{% endblock script %}
