{% extends "cambos/base_roupa.html" %}

{% block css %}

{% endblock css %}

{% block navigation %}
    <div class="row">
        <ol class="breadcrumb">
			<li><a href="{% url 'roupa_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">Oficinas</li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Confecção<span class="text-muted small"></span></h1></h1>
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}		
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">	
				<strong>Oficinas Internas</strong>
				<ul class="pull-right panel-settings panel-button-tab-right">

					<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
						<em class="fa fa-cogs"></em>
					</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li>
								<ul class="dropdown-settings">
									<li><a href="#">
										<em class="fa fa-cog"></em> Ajustes 1
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										<em class="fa fa-cog"></em> Ajustes 2
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										<em class="fa fa-cog"></em> Ajustes 3
									</a></li>
								</ul>
							</li>
						</ul>
					</li>
					
				</ul>				
				<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
			<div class="panel-body bg-primary">
				<div class="row">
					{%for oficina in internas %}
					<a href="{% url 'confeccao_detail_cbv' oficina.id %}" class="col-xs-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body easypiechart-panel">
								<h2>{{oficina.oficina}}</h2>
								<div class="easypiechart easypiechart-teal" data-percent="92" ><span class="percent">92%</span></div>
								<h4>
									{% if oficina.em_atraso == 0 %}
										<strong class="color-teal">{{oficina.em_atraso}} </strong>atraso
									{%elif oficina.em_atraso == 1%}
										<strong class="color-red">{{oficina.em_atraso}} </strong>atraso
									{%else%}
										<strong class="color-red">{{oficina.em_atraso}} </strong>atrasos
									{%endif%}
								</h4>
							</div>
						</div>
					</a>
					{%endfor%}
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">	
				<strong>Oficinas Externas</strong>
				<ul class="pull-right panel-settings panel-button-tab-right">

					<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
						<em class="fa fa-cogs"></em>
					</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li>
								<ul class="dropdown-settings">
									<li><a href="#">
										<em class="fa fa-cog"></em> Ajustes 1
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										<em class="fa fa-cog"></em> Ajustes 2
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										<em class="fa fa-cog"></em> Ajustes 3
									</a></li>
								</ul>
							</li>
						</ul>
					</li>
					
				</ul>				
				<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
			<div class="panel-body bg-primary">
				<div class="row">
					{%for oficina in externas %}
					<a href="{% url 'confeccao_detail_cbv' oficina.id %}" class="col-xs-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body easypiechart-panel">
								<h2>{{oficina.oficina}}</h2>
								<div class="easypiechart easypiechart-teal" data-percent="92" ><span class="percent">92%</span></div>
								<h4>
									{% if oficina.em_atraso == 0 %}
										<strong class="color-teal">{{oficina.em_atraso}} </strong>atraso
									{%elif oficina.em_atraso == 1%}
										<strong class="color-red">{{oficina.em_atraso}} </strong>atraso
									{%else%}
										<strong class="color-red">{{oficina.em_atraso}} </strong>atrasos
									{%endif%}
								</h4>
							</div>
						</div>
					</a>
					{%endfor%}
				</div>
			</div>
		</div>
	</div>	
</div>
{%endblock content%}

{% block script %}
	<script>
    	let option = document.getElementById('setor{{ request.GET.setor }}');
		option.setAttribute('class', 'active');
		
	</script>
{% endblock script %}