{% extends "cambos/base_roupa.html" %}
{% load static %}
{% block css %}{% endblock css %}

{% block navigation %}
    <div class="row">		
        <ol class="breadcrumb ">
            <li><a href="{% url 'core_home' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">PCP</li>
        </ol>	
    </div><!--/.row-->
	
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">PCP<span class="text-muted small"> dashboard </span></h1></h1>
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}
<div class="panel panel-container">
	<div class="row">
		
		<a href="{% url 'producao_roupa_list' %}">												
			<div class="col-xs-6 col-md-2 col-lg-2 no-padding">					
				<div class="panel panel-teal panel-widget border-right">
					<div class="row no-padding"><span class="color-blue"> Produção</span>
						<div class="large">{%if total %}{{total}}{%else%} 0 {%endif%}</div>
						<div class="text-muted">peças</div>
					</div>
				</div>
			</div>
		</a>		
		<a href="">		
			<div class="col-xs-6 col-md-2 col-lg-2 no-padding">
				<div class="panel panel-blue panel-widget border-right">
					<div class="row no-padding"><span class="color-teal"> Tempo de Ciclo</span>
						<div class="large">{{eficiencia | floatformat:0}}X</div>
						<div class="text-muted">Dias</div>
					</div>
				</div>
			</div>
		</a>			
		<a href="">				
			<div class="col-xs-6 col-md-2 col-lg-2 no-padding">
				<div class="panel panel-orange panel-widget border-right">
					<div class="row no-padding"><span class="color-orange"> Entregas em Atraso</span>
						<div class="large">{{entrega_atraso}}</div>
						<div class="text-muted">produtos </div>							
					</div>
				</div>
			</div>
		</a>				
		<a href="">				
			<div class="col-xs-6 col-md-2 col-lg-2 no-padding">
				<div class="panel panel-orange panel-widget border-right">
					<div class="row no-padding"><span class="color-orange"> Produção Parada</span>
						<div class="large">{{parado}}</div>
						<div class="text-muted"> produtos </div>							
					</div>
				</div>
			</div>
		</a>				
		<a href="{% url 'programacao_list' %}">				
		<div class="col-xs-6 col-md-2 col-lg-2 no-padding">
			<div class="panel panel-red panel-widget border-right">
				<div class="row no-padding"><span class="color-red"> Não Programados</span>
					<div class="large">X</div>
					<div class="text-muted">pedidos</div>
				</div>
			</div>
		</div>
		</a>
		<a href="">				
			<div class="col-xs-6 col-md-2 col-lg-2 no-padding">
				<div class="panel panel-red panel-widget border-right">
					<div class="row no-padding"><span class="color-red"> Semana Atual</span>
						<div class="large">{{semana_atual}}</div>
						<div class="text-muted"></div>
					</div>
				</div>
			</div>
			</a>
		
	</div><!--/.row-->
</div>




<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Clientes
				
				<!-- <ul class="pull-right panel-settings panel-button-tab-right">
					
					<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
						<em class="fa fa-cogs"></em>
					</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li>
								<ul class="dropdown-settings">
									<li><a href="#">
										<em class="fa fa-cog"></em> Settings 1
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										<em class="fa fa-cog"></em> Settings 2
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										<em class="fa fa-cog"></em> Settings 3
									</a></li>
								</ul>
							</li>
						</ul>
					</li>
					
				</ul> -->
				
				<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
			<div class="panel-body">
				<div id="chart">		
			</div>
		</div>
	</div>	
</div>

{%endblock content%}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script src="{% static 'js/treemaps.js' %}"></script>	


  
  
{% endblock script %}

