{% extends "cambos/base_roupa.html" %}
{% load static %}
{% block css %}
{{ form.media.css }}
{% endblock css %}

{% block navigation %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url 'roupa_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'programacao_list' %}">
                Programação
            </a></li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{dados.Modelo|safe}}<span class="text-muted small"> {{dados.Nome}} </span></h1></h1>
        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}		

<div class="modal-dialog modal-lg">
    <div class="modal-content">
       
            <div class="modal-header">
            <a href="javascript:void(0)" onClick="history.go(-1); return false;" type="button" class="close" aria-hidden="true">×</a>
            <h3 class="modal-title">FC<strong> {% if dados.FichaCorte %} {{dados.FichaCorte}} {%else%} - {%endif%}</strong></h3>
            </div>
            <div class="modal-body">                
                <h4> Processos</h4>                                     
                <div class="form-group" id="form">
                   
                </div>                    
            </div>
            <div class="modal-footer">
                <form class="" id="" method="submit">
                    <a href="javascript:void(0)" onClick="history.go(-1); return false;" type="button" class="btn btn-primary">Retornar</a>
                    <button class="btn btn-success" type="submit" role="button">
                        salvar
                    </button>
                    <input type="text" class="form-control" id="editar" name="editar"
								value="" placeholder="editar"
								aria-label="editar" aria-describedby="basic-addon1">					
                </form>
            </div>
        
       
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
{{pedido}}
{% endblock content %}
{% block script %}
 {{ form.media.js }}  
             
        
        <script>
            var pedido = {{pedido|safe}}					
            var processo = {{processo|safe}}					
            var ordemProcesso = {{pcp|safe}}					
           			
        </script> 
        <script src="{% static 'js/pcp.js' %}"></script>	        
	    <script>
        $(document).ready(function(){            
            $(".enabled").attr("class", "disabled");
            $(".disabled a").removeAttr("href");    
            $(".date").css('pointer-events', 'none');       
        });
      </script>

{% endblock script %}