{% extends "cambos/base_roupa.html" %}
{% load static %}
{% block css %}

{% endblock css %}

{% block navigation %}
    <div class="row">
        <ol class="breadcrumb">
			<li><a href="{% url 'roupa_index' %}">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active"><a href="{% url 'programacao_list' %}">
                Programação
            </a></li>
        </ol>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{dados.Modelo|safe}}<span class="text-muted small"> {{dados.Nome}} </span></h1></h1>
			<h3  class="text-body">Tipo: <span class="color-teal">{{dados.Tipo}}</span> / Linha: <span class="color-teal">{{dados.Peso}}</span> / Lacre: <span class="color-teal">{{dados.Lacre}}</span></h3>

        </div>
    </div><!--/.row-->
{% endblock navigation %}

{% block content %}		
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">	
				FC {% if dados.FichaCorte %}{{dados.FichaCorte}} {%else%} - {%endif%}
				<ul class="pull-right panel-settings panel-button-tab-right">
				{% if pedido == 0 %}
					<li class="dropdown"><a class="pull-right " href="{% url 'pedido_create' dados.Lacre %}">
				{% else %}
					<li class="dropdown"><a class="pull-right " href="{% url 'pedido_update' pedido.id %}">
				{% endif %}
						<em class="fa fa-pencil"></em>
					</a>
					</li>
					
				</ul>				
				<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
			<div class="panel-body ">
				<div class="row">
					<div class="col-xs-6 col-md-2 col-lg-2 no-padding">
						<div class="panel panel-orange panel-widget border-right">
							<div class="row no-padding"><span class="color-orange"> Artigo</span>
								<div class="large">{{dados.Tecido}}</div>
								<div class="text-muted"> </div>							
							</div>
						</div>
					</div>
					
					<div class="col-xs-6 col-md-2 col-lg-2 no-padding">
						<div class="panel panel-blue panel-widget border-right">
							<div class="row no-padding"><span class="color-teal"> Volume</span>
								<div class="large">{{dados.QuantPecas}}</div>
								<div class="text-muted">peças</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-6 col-md-2 col-lg-2 no-padding">					
						<div class="panel panel-teal panel-widget border-right">
							<div class="row no-padding"><span class="color-blue"> Pontuação</span>
								<div class="large">{{dados.ValorDentro|safe}}</div>
								<div class="text-muted">  </div>							
							</div>
						</div>
					</div>
					
					<div class="col-xs-6 col-md-2 col-lg-2 no-padding">
						<div class="panel panel-orange panel-widget border-right">
							<div class="row no-padding"><span class="color-orange"> Situação</span>
								<div class="large">{{dados.Atrasado}}</div>
								<div class="text-muted">  </div>							
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4 col-lg-4 no-padding">
						<div class="panel panel-red panel-widget border-right">
							<div class="row no-padding"><span class="color-red"> Tags</span>
								<div class="">
									{% for item in pedido.tag.all %}
										{{item}},
									{%endfor%}
								</div>								
							</div>
						</div>
					</div>
											
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Programação
				
				<ul class="pull-right panel-settings panel-button-tab-right">
					
					<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
						<em class="fa fa-cogs"></em>
					</a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li>
								<ul class="dropdown-settings">
									<li><a href="{% url 'pcp_update' dados.Lacre %}">
										<em class="fa fa-cog"></em> Processos
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										<em class="fa fa-cog"></em> Settings 2
									</a></li>
									<li class="divider"></li>
									<li><a href="#">
										<em class="fa fa-cog"></em> Settings 3
									</a></li>
								</ul>
							</li>
						</ul>
					</li>
					
				</ul>
				
				<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
			<div class="panel-body">
				<div id="chart">
					
			</div>
		</div>
	</div>	
</div>
	
	{{programacao}}

{%endblock content%}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
	var lista = '{{lista|safe}}'	
	var calendar = '{{intervalos|safe}}'					
</script>
<script src="{% static 'js/timeline.js' %}"></script>	


  
  
{% endblock script %}